# The Battle of Neighborhoods
## *Capstone Project*

### Introduction/Business Problem

Because Bangalore is known as silicon valley of India, So many people from different parts of country moves to Bangalore but India is very  big and Diverse every part of a country is different from each other be it language, culture, food or anything else. A large number of people who move to Bangalore are from New Delhi and nearby area (NCR, UP, Haryana, Punjab, Rajasthan). They know New Delhi very well but Bangalore is totally different. So we will try to cluster New Delhi and Bangalore Based on similarity. That is we will cluster New Delhi on the basis of Neighbourhood and cluster Bangalore on the basis of Neighbourhood and will tell which places of New Delhi is similar to which places of Bangalore. This will help not only the new people moving to Bangalore but also those who are already living in Bangalore but are looking for change.So anyone who wants to shift to Bangalore from North India might be intrested in this project

## Data

We Scrapped Wikipedia to get Neighbourhood names of New Delhi and Bangalore. we get the list of district of New Delhi and their sub district and one more page for the Neighbourhood of New Delhi. speaking of Bangalore we got a Wikipedia page about Bangalore neighborhood which is just the name of areas of Bangalore. Moreover we will use foresquare api to get the information about various amenities or facilities available in these places based on which we will cluster theses cities. We will clustered New Delhi then predict on Bangalore to get the simillarity between these two cities.

Following is how our data looks like

In [4]:
delhi.head()

   Key     District     Neighbourhood  latitude  longitude
0    0    New Delhi   Connaught Place   28.6315    77.2167
1    1    New Delhi      Chanakyapuri   28.5939    77.1887
2    2    New Delhi  Delhi Cantonment   28.5961    77.1587
3    3    New Delhi      Vasant Vihar   28.5603    77.1617
4    4  North Delhi            Narela   28.8540    77.0918

In [8]:
banglore.head()

   Key District      Neighbourhood   latitude  longitude
0    2  Central             Domlur  12.962467  77.638196
1    3  Central        Indiranagar  12.973291  77.640467
2    4  Central  Jeevanbheemanagar  12.962900  77.659500
3    5  Central        Malleswaram  13.016341  77.558664
4    7  Central        Rajajinagar  12.990100  77.552500

###### About Columns
In both of the Dataframes Key is a column to uniquely identify a perticular tuple in a Dataframe, District column is only the area where the place is present for example Connaught Place is in New Delhi, and Indiranagar is in Central Bangalore. Neighbourhood is the place which we are consurned about and latitude and longitude are there coordinates respectively.

### Sources of DATA
following are the links which we have used in order to get the data :

https://en.wikipedia.org/wiki/Neighbourhoods_of_Delhi

https://en.wikipedia.org/wiki/List_of_districts_of_Delhi

https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Bangalore

Foresquare API

## Project Methodology

### DATA Collection
To reach to our goal we needed DATA and we utilized pythonâ€™s web scrapping power in order to get the data from sources like Wikipedia. And then we collected the data from Foresquare API in order to get some venues in our data. We follow following steps in order to collect data :

1.	We scrapped the Wikipedia web page with the help of Pandas read_html method
2.	We stored the result in a variable which we utilized in order to extract table out from it.
3.	We then processed the respective tables to make them in proper format and saved them with the help of csv file.
4.	We repeated the same process multiple times to append the csv file with the needed Data.
5.	We did this to get different regions of New Delhi and Bangalore 
6.	Our Data is partially ready, But we are still left with coordinates of respective regions.

The above process helped us to get the Data of the following form :

In [13]:
delhi_individual.head()

   Key     District     Neighbourhood
0    0    New Delhi   Connaught Place
1    1    New Delhi      Chanakyapuri
2    2    New Delhi  Delhi Cantonment
3    3    New Delhi      Vasant Vihar
4    4  North Delhi            Narela

In [14]:
banglore_individual.head()

   Key District      Neighbourhood
0    2  Central             Domlur
1    3  Central        Indiranagar
2    4  Central  Jeevanbheemanagar
3    5  Central        Malleswaram
4    7  Central        Rajajinagar

But we want the coordinates of every Neighbourhood in order to query Foresquare API for that we did following:

7. We utilized geopy library in order to get the respective coordinates of our  Neighborhoods.
8. We stored them in a csv file
9. Due to geopyâ€™s Terms and some other reasons we were unable to get all coordinates So we entered them manually
10. We now have another Dataframe which consist of coordinates of Neighborhoods.

We Then merged the two Dataframes in order to get following Dataframes

In [15]:
delhi.head()

   Key     District     Neighbourhood  latitude  longitude
0    0    New Delhi   Connaught Place   28.6315    77.2167
1    1    New Delhi      Chanakyapuri   28.5939    77.1887
2    2    New Delhi  Delhi Cantonment   28.5961    77.1587
3    3    New Delhi      Vasant Vihar   28.5603    77.1617
4    4  North Delhi            Narela   28.8540    77.0918

In [16]:
banglore.head()

   Key District      Neighbourhood   latitude  longitude
0    2  Central             Domlur  12.962467  77.638196
1    3  Central        Indiranagar  12.973291  77.640467
2    4  Central  Jeevanbheemanagar  12.962900  77.659500
3    5  Central        Malleswaram  13.016341  77.558664
4    7  Central        Rajajinagar  12.990100  77.552500

Now We are ready to get the nearby venues of these Neighborhoods from Foresquare API we did it in following steps :

1.	Import the required library to send request and then parse the JSON
2.	Prepare the url with client id and secret key
3.	Form the request and send it to Foresquare to get the JSON response back
4.	Parse the json and store the information in a Dataframe

So finally we are done with the Data Collection and are final Data looks like following :

In [18]:
delhi_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Connaught Place,28.6315,77.2167,HOTEL SARAVANA BHAVAN,28.632319,77.216445,South Indian Restaurant
1,Connaught Place,28.6315,77.2167,Starbucks Coffee,28.632011,77.217731,Coffee Shop
2,Connaught Place,28.6315,77.2167,Wenger's,28.633412,77.218292,Bakery
3,Connaught Place,28.6315,77.2167,Pind Balluchi,28.630318,77.217600,North Indian Restaurant
4,Connaught Place,28.6315,77.2167,Fabindia,28.632012,77.217729,Clothing Store

### DATA Preprocessing

Before we start clustering we need to make data in proper format that is we need to convert each of the categorical variable into numerical variable and  take the mean of frequency of occurrence of each category. So we achieve our this goal as follows :

1.	group rows by neighborhood and by take the mean of the frequency of occurrence of each category
2.	Sort them in descending order
3.	Create a Dataframe with top 10 venues for each Neighborhood
4.	Perform One Hot Encoding
5.  We repeated the same thing with Bangalore data

### Implementation

Now we are ready to implement K-Means Clustering on our Data so initially we cluster New Delhi into 10 clusters

### Refinement

We need to find correct value of K for our model this is one of a disadvantage of using K Means but to find the optimum number of K we draw Elbow Plot which shows correct value of K

From Elbow Plot we found out that right number of clusters **K = 25**

<img src="C:\Elbow_Plot.png"  title="Elbow Plot" />

Therefore we build our model again with *K = 25*

After sucessful implementation of our algorithm we Predict the clusters for Bangalore

## Results

We used K Means clustering in order to find the simillarities between New Delhi and Bangalore. One of the reasons that we used K Means was that it allows us to predict on some unknown datasets like a supervised learning. As this is an Unsupervised Learning their are not many ways to evaluate the putcome of our model but we Evaluated it with the help of silhouette coefficient which computes the compactness of a cluster, where higher is better, with a perfect score of 1. Which is not necessarily true for our case.But we clustered with different algorithms like DBSCAN, Agglomarative and K Means where the result of Aglomarative and K Means where almost same. Apart from that after we succesfully clustered both the cities I manually checked for the clusters which were quite simillar. So overall our model is working and we can tell anyone which part of New Delhi is simillar to Bangalore.

For Example if someone lives in *Geeta Colony, New Delhi* then that person can easily live in *Hoodi, Bangalore* as they are part of one Cluster and thus have lots of Dessert Shop, Donot Shop and Dinner places in common.

## Conclusion

We collected our data from multiple Wikipedia pages with the help of pythons web scrapping capabilities. Then we utilize geopy to some extent to get the coordinates of some of the locations of New Delhi and Bangalore and rest I filled manually. After that we merged both together to query the Foresquare API then we parsed the result and stored it into a Dataframe. Later we used that to sort the most common venues everywhere. One more step to go before we can start building our model that is Data Preprocessing wehere we converted the categorical variables into numerical with the help of One Hot Encoding and also calculated the mean frequency of occurance of each category of the venues of the Neighborhoods. Finally we built our model with the help of K Means Clustering algorithm where we clustered New Delhi and then used our model to Predict the values or cluster for Bangalore.